@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-desatured-blue: hsl(229, 23%, 23%);
  --grayish-blue: hsl(227, 10%, 46%);

  /* Neutral */
  --dark-gray: hsl(0, 0%, 59%);

  /* Font */
  --font: "Kumbh Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: var(--font);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-cyan);
}

.article {
  width: 370px;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 20px;
}

.b-img {
  background-image: url(../images/bg-pattern-card.svg);
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
}

.article__personal {
  text-align: center;
  margin-top: 70px;
}

.position {
  position: relative;
}

.img {
  position: absolute;
  left: 36%;
  top: 95px;
  border: 5px solid #ffffff;
  border-radius: 50%;
}

h1,
h1 span {
  font-size: 20px;
}

h1 span {
  color: var(--grayish-blue);
  font-weight: 400;
  margin-left: 5px;
}

.p-c {
  font-size: 15px;
  color: var(--grayish-blue);
  margin-top: 15px;
}

hr {
  margin-top: 20px;
  border-top: none;
  border-right: none;
  border-left: none;
}

.article__info {
  display: flex;
  justify-content: space-evenly;
}

.article__info p {
  font-size: 12px;
  color: var(--grayish-blue);
  margin: 20px;
}

.article__info p span {
  color: #000000;
  display: block;
  font-weight: 700;
  font-size: 22px;
}
